# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# SPM
/.build
/Packages
/*.xcodeproj

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
